@import url("http://mvinconsapevolezzaquotidiana.org/css_museo_virtuale_inconsapevolezza_quotidiana/normalize_museo_virtuale_inconsapevolezza_quotidiana.css");
@import url("http://mvinconsapevolezzaquotidiana.org/css_museo_virtuale_inconsapevolezza_quotidiana/main_museo_virtuale_inconsapevolezza_quotidiana.css");


/*-------------------OFFLIMITS*/



@media only screen and (max-height: 700px) {
    /* Style adjustments for viewports that meet the condition */
#index_logo{ 
	width:300px; 
	height:300px; 
	margin:0 0 0 0;
}

}
#menu_visita{color:#ff5000 !important;}
body{background-color:#fff;}

#relazioni{ 
	width:35%; background:#093 !important;
	height:550px;
	top:53%;
	left:0;
	margin:-340px 0 0 0;
	}

.sfondo_relazioni1{
	background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/relazioni_sfondo1_mvin.png) no-repeat top left;
}
	
.sfondo_relazioni2{
	background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/relazioni_sfondo2_mvin.png) no-repeat top left;
}
	
.sfondo_relazioni3{
	background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/relazioni_sfondo3_mvin.png) no-repeat top left;
}

.sfondo_relazioni4{
	background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/relazioni_sfondo4_mvin.png) no-repeat top left;
}
	
/* ==========================================================================
   Layout parte sinistra - indicazioni generali
   ========================================================================== */

#visita_palla_mangiare, #visita_palla_individuo, #visita_palla_societa, #visita_palla_territorio, #visita_palla_cibo, #visita_palla_organismo, #visita_palla_sensorialita, #visita_palla_psiche, #visita_palla_storia, #visita_palla_attualita{
	cursor:pointer;
	top:53%;
	overflow:hidden;
	}

#visita_palla_individuo, #visita_palla_societa, #visita_palla_territorio{
	width:87px;
	height:89px;
	}

#visita_palla_cibo, #visita_palla_organismo, #visita_palla_sensorialita, #visita_palla_psiche, #visita_palla_storia, #visita_palla_attualita{
	width:59px;
	height:69px;
	}


#visita_palla_mangiare{
	width:142px;
	height:157px;
	left:200px;
	margin:-132px 0 0 0;
	background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/palla_mangiare.png) no-repeat top left;
	}
	

	#visita_palla_individuo{
		left:141px;
		margin:-202px 0 0 0;
		background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/palla_individuo.png) no-repeat top left;
		}

		#visita_palla_organismo{
			left:75px;
			margin:-279px 0 0 0;
			background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/palla_organismo.png) no-repeat top left;
			}
			
		#visita_palla_psiche{
			left:235px;
			margin:-279px 0 0 0;
			background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/palla_psiche.png) no-repeat top left;
			}
			
		#visita_palla_sensorialita{
			left:75px;
			margin:-109px 0 0 0;
			background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/palla_sensorialita.png) no-repeat top left;
			}
		
		
		
	#visita_palla_societa{
		left:348px;
		margin:-104px 0 0 0;
		background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/palla_societa.png) no-repeat top left;
		}
	
		#visita_palla_storia{
			left:440px;
			margin:-181px 0 0 0;
			background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/palla_storia.png) no-repeat top left;
			}

		#visita_palla_attualita{
			left:440px;
			margin:-19px 0 0 0;
			background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/palla_attualita.png) no-repeat top left;
			}

	
	#visita_palla_territorio{
		left:141px;
		margin:-24px 0 0 0;
		background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/palla_territorio.png) no-repeat top left;
		}
		
		#visita_palla_cibo{
			left:75px;
			margin:69px 0 0 0;
			background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/palla_cibo.png) no-repeat top left;
			}
		
		

#visita_relazioni_mangiare_individuo, #visita_relazioni_mangiare_territorio, #visita_relazioni_mangiare_societa, #visita_relazioni_individuo_psiche, #visita_relazioni_individuo_organismo, #visita_relazioni_individuo_sensorialita, #visita_relazioni_territorio_cibo, #visita_relazioni_societa_storia, #visita_relazioni_societa_attualita{
	background-color:#444;
	top:53%;
	}

#visita_relazioni_mangiare_individuo, #visita_relazioni_mangiare_territorio, #visita_relazioni_individuo_psiche, #visita_relazioni_individuo_organismo, #visita_relazioni_individuo_sensorialita, #visita_relazioni_territorio_cibo, #visita_relazioni_societa_storia, #visita_relazioni_societa_attualita{
	width:0px;
	height:0px;
	}
	
	#visita_relazioni_mangiare_individuo{
		left:262px;
		margin:-70px 0 0 0;
		background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/relazioni_grande2_mvin.png) no-repeat top left;
		}

	#visita_relazioni_mangiare_territorio{
		left:262px;
		margin:-70px 0 0 0;
		background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/relazioni_grande1_mvin.png) no-repeat top right;
		}

	#visita_relazioni_mangiare_societa{
		width:0px;
		height:44px;
		margin:-92px 0 0 0;
		left:262px;
		background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/relazioni_grande3_mvin.png) no-repeat top left;
		}
		
	#visita_relazioni_individuo_organismo{
		left:185px;
		margin:-158px 0 0 0;
		background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/relazioni_piccole2_mvin.png) no-repeat top left;
		}

	#visita_relazioni_individuo_psiche{
		left:185px;
		margin:-158px 0 0 0;
		background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/relazioni_piccole1_mvin.png) no-repeat top right;
		}

	#visita_relazioni_individuo_sensorialita{
		left:185px;
		margin:-158px 0 0 0;
		background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/relazioni_piccole1_mvin.png) no-repeat top right;
		}
		
	#visita_relazioni_societa_storia{
		left:392px;
		margin:-70px 0 0 0;
		background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/relazioni_piccole1_mvin.png) no-repeat top right;
		}

	#visita_relazioni_societa_attualita{
		left:392px;
		margin:-70px 0 0 0;
		background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/relazioni_piccole2_mvin.png) no-repeat top left;
		}
		

	#visita_relazioni_territorio_cibo{
		left:185px;
		margin:18px 0 0 0;
		background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/relazioni_piccole1_mvin.png) no-repeat top right;
		}


/* ==========================================================================
   Layout parte destra - indicazioni generali
   ========================================================================== */
#visita_percorso_museale{
	width:60px;
	height:100%;
	top:0;
	left:40%;
	z-index:101111;
	margin:0 0 0 -30px;
	}
	
#lv1_grafica_percorso{
	width:31px;
	height:635px;
	margin:0 0 0 15px;
	background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/sfondo_lv1_percorso_mvin.png) no-repeat top left;
	}

	#lv2_grafica_percorso{
		width:31px;
		background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/sfondo_lv2_percorso_mvin.png) no-repeat top left;
		}


#l_t_percorso{
	top:-635px;
	padding:0;
	margin:0 0 0 15px;
	}
	
	.l_t_pallino{
		cursor:pointer;
		width:15px;
		height:15px;
		margin:0 0 0 7px;
		}
		
	.l_t_passo{
		width:1px;
		height:35px;
		margin:0 0 0 15px;
		}
		
	#linea_temporale_inizio, #linea_temporale_fine{
		width:30px;
		height:30px;
		margin:10px 0 10px 0;
		}	
		

		.l_t_pallino:hover, .indicatore_linea_temporale{
			background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/palla_colorata_percorso_mvin.png) no-repeat top left;
			}
			
		.indicatore_linea_temporale2{
			background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/palla_colorata2_percorso_mvin.png) no-repeat top left;
			}
			
/* ==========================================================================
   Layout parte destra - indicazioni generali
   ========================================================================== */
body > section{
	height:100%;
	width:60%;
	float:right;
	background-color:#fff;
	z-index:9;
	overflow:auto;
}   
   
#pre_visita, #visita_mangiare, #visita_individuo, #visita_societa, #visita_territorio, #visita_relazioni{
	width:100%;
	margin:0 0 100px 0;
	background-color:#fff;
	}


.visita_titolo_sezione{
	font-family: 'EB Garamond', sans-serif;
	font-size:1.2em;
	margin:30px 0 0 0;
	letter-spacing:1px;
	}

footer{
	overflow:hidden;
	position:absolute;
	bottom:0px;
	left:42%;
	width:56%;
	padding:10px 0 90px 0;
	z-index:999;
	background-color:#FFFFFF;
	}


	
.visita_pulsante_risorse{
	cursor:pointer;
	font-size:0.8em;
	height:50px;
	width:100%;
	}
	
	.visita_pulsante_risorse > div{
		height:1px;
		width:90%;
		margin:10px 5% 5px 5%;
		}
		
	.visita_pulsante_risorse > img{
		height:10px;
		width:10px;
		}


.tooltip_semplice{
	display:none;
	position:absolute;
	background-color:#ff5000;
	padding:5px;
	z-index:99999;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    5px 0px 10px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         5px 0px 10px 0px rgba(0, 0, 0, 0.3);
	font-size:0.8em;
	color:#FFFFFF;
	}


.condividi_contenuto{
	bottom:80px;
	left:20px;
	width:300px;
	height:30px;
	}
	
	.twitter-share-button{
		top:-20px;
		left:120px;
		}
	
	.google_plus{
		top:-40px;
		left:215px;
		}

/* ==========================================================================
   PARTE DESTRA - IL MANGIARE
   ========================================================================== */

#visita_mangiare{
	padding:30px 0 0 0;
	}

#visita_mangiare .visita_titolo_sezione{
	font-size:3em;
	margin:30px 150px 0 150px;
	}

#visita_mangiare .visita_titolo_piccolino{
	font-size:0.7em;
	margin:70px 150px 0 150px;
	}

#visita_mangiare > p{
	margin:30px 150px 0 150px;
	letter-spacing:1px;
	font-size:0.9em;
	line-height:1.8em;
	text-align:justify;
	}

/* ==========================================================================
   PARTE DESTRA - ORGANISMO -psiche
   ========================================================================== */
#visita_individuo{
	padding:30px 0 0 0;
	}

#visita_individuo .visita_titolo_sezione{
	font-size:3em;
	margin:30px 150px 0 150px;
	}

#visita_individuo .visita_titolo_piccolino{
	font-size:0.7em;
	margin:0 150px 0 150px;
	}

#introduzione_individuo{
	margin:30px 150px 0 150px;
	}
	
#psiche{}

#psiche > img, #organismo > img, #sensorialita > img{
	width:333px;
	height:830px;
	}	
	
	#psiche_quadro1{
		left:50px;
		top:200px;
		}
		
	#psiche_quadro2{
		left:500px;
		top:500px;
		}

	#organismo_quadro1, #sensorialita_quadro1{
		left:50px;
		top:200px;
		}
		
	#organismo_quadro2, #sensorialita_quadro2{
		left:500px;
		top:350px;
		}

	#organismo_quadro3, #sensorialita_quadro3{
		left:80px;
		top:500px;
		}
		
	#organismo_quadro4, #sensorialita_quadro4{
		left:500px;
		top:650px;
		}
		
		.individuo_contenuti{
			padding:20px 20px 20px 20px;
			text-align:justify;
			font-size:0.8em;
			line-height:1.6em;
			width:320px;
			}
			
		.individuo_contenuti span.f_rosa_scuro{
			font-size:3.1em;
			line-height:0.2em;
			display:inline-block;
			overflow:hidden;
			height:15px;
			}
			
	
		.individuo_copertine1, .individuo_copertine2, .individuo_copertine3, .individuo_copertine4{
			cursor:pointer;
			font-size:1.2em;
			line-height:1.0em;
			height:110px;
			display:table-cell;
			vertical-align:middle;
			}
	
		.individuo_copertine1{
			background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/individuo_copertina1_mvin.png) no-repeat top left;
			width:320px;
			padding:20px 20px 20px 50px;
			}
			
		.individuo_copertine2{
			background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/individuo_copertina2_mvin.png) no-repeat top left;
			width:250px;
			padding:20px 70px 20px 70px;
			}
			
		.individuo_copertine3{
			background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/individuo_copertina3_mvin.png) no-repeat top left;
			width:240px;
			padding:20px 80px 20px 70px;
			}
			
		.individuo_copertine4{
			background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/individuo_copertina4_mvin.png) no-repeat top left;
			width:290px;
			padding:20px 70px 20px 30px;
			}
			

	
#introduzione_individuo{
	letter-spacing:1px;
	font-size:0.9em;
	line-height:1.8em;
	text-align:justify;
	}















.visita_notazioni{
	right:0;
	top:0;
	height:600px;
	}

	
	.icona_espandi_riduci_notazioni{
		height:70px;
		width:70px;
		margin:0 0 0 5px;
		background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/visita_riferimenti_mvin.png) no-repeat center center #fff;
		-webkit-border-radius: 10px 0 0 10px;
		border-radius: 10px 0 0 10px;
		-webkit-box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
		-moz-box-shadow:    -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
		box-shadow:         -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
		z-index:11119;
		cursor:pointer;
		}
		
		.icona_espandi_riduci_notazioni > img{
			-webkit-border-radius: 10px 0 0 10px;
			border-radius: 10px 0 0 10px;
			}



.visita_elenco_note{
	width:740px;
	padding:30px;
	}

.contenitore_risorse_link{
	font-size:0.6em;
	line-height:1.4em;
	letter-spacing:1px;
	border-radius: 0 0 0 10px;
	-webkit-box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         -5px 0px 10px 0px rgba(0, 0, 0, 0.3);
	z-index:11111;
	background-color:#fff;
	overflow:hidden;
	}
	
	.contenitore_risorse_link a{
		color:#666;
		text-decoration:underline;}
	
		.contenitore_risorse_link a:hover{
			text-decoration:none;}
			
			
			
			
			
/* ==========================================================================
  Configurazione SOCIETA - STORIA 
   ========================================================================== */
   
/* SCROLLBAR */

		::-webkit-scrollbar {width:0.8em;}
		::-webkit-scrollbar-track{border-radius:0.8em; background:#eee; -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1); height:10px;}
		::-webkit-scrollbar-thumb{border-radius:0.8em; background-color:rgba(200, 200, 200, 0.5);}  
		::-webkit-scrollbar-thumb:hover{background-color:rgba(255, 80, 0, 0.5)} 
		 
/* SCROLLBAR */
   
#visita_societa{
	padding:30px 0 0 0;
	}

#visita_societa .visita_titolo_sezione{
	font-size:3em;
	margin:30px 150px 0 150px;
	}

#visita_societa .visita_titolo_piccolino{
	font-size:0.7em;
	margin:0 150px 0 150px;
	}

#introduzione_societa{
	margin:30px 150px 0 150px;
	letter-spacing:1px;
	font-size:0.9em;
	line-height:1.8em;
	text-align:justify;
	}

.testo_societa{
	position:relative;
	left:50%;
	margin:15px 0 15px -396px;  
	width:822px;
	font-size:0.9em;
	line-height:1.6em;
	text-align:justify;
	padding:0 10px 0 0;
	}

#visita_societa_storia_sfondo{ 
	width:822px;
	height:100px;   
	margin:40px 0 20px -426px; 
	display:inline-block;
	padding:0 30px 0 30px;
	background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/sfondo_storia_mvin.png) repeat-x top left;
	overflow:hidden;
	}


#visita_societa_storia_sfondo li{ 
		height:100px;
		width:80px;
		background-color:#222;
		overflow:hidden;
		border-right: 1px solid #FFF;
		cursor:pointer;
		}

	.visita_storia_vuoto{ 
		background: none !important;
		cursor:default !important; 
		width:5px !important;  
		} 

 .storia_testo_titolo{
	 position:relative;
	 top:130px; 
	 font-size:1.2em; 
	 text-align:left;
	  } 
	  

/*.figure_storia{width:200px;}
*/
 .storia_immagini{ 
	width:80px; 
	height:100px;     
 	} 
	

.storia_legenda_immagini{ 
	width:174px;
	color:#FF5000;
	position:relative;
	top:-50px;
	overflow:hidden;
	padding:5px;
	height:30px;
	}   
	
#storia_img_colori{
	width:94px;
	height:120px;
	border:3px solid #fff;
	top:170px;
	background-color:#FFF;
	font-size:0.7em;
	text-align:center;
	cursor:pointer;
	}	
	
	#storia_scritta_hover{
		width:109px;
		padding:3px 0 3px 0;
		top:265px;
		background-color:#222;
		color:#FFF;
		font-size:0.7em;
		text-align:center;
		cursor:pointer;
		}	
	
.zoom_paleolitico{ background: url(../img_museo_virtuale_inconsapevolezza_quotidiana/paleolitico_c.jpg) no-repeat top center;}	
.zoom_neolitico{ background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/storia_neolitico_c.jpg) no-repeat top center;}
.zoom_mesopotamia{ background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/storia_mesopotamia_c.jpg) no-repeat top center;}
.zoom_egiziani{ background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/storia_egizi_c.jpg) no-repeat top center;}
.zoom_greci{ background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/storia_greci_c.jpg) no-repeat top center;}
.zoom_romani{ background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/storia_romani_c.jpg) no-repeat top center;}
.zoom_medioevo{ background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/storia_medioevo_c.jpg) no-repeat top center;}
.zoom_rinascimento{ background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/storia_rinascimento_c.jpg) no-repeat top center;}
.zoom_tempi_moderni{ background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/storia_tempi_moderni_c.jpg) no-repeat top center;}
.zoom_attualita{ background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/storia_attualita_c.jpg) no-repeat top center; width:}
	
	
	
#attualita1{
	margin:30px 0 0 30px;
	letter-spacing:1px;
	font-size:0.9em;
	line-height:1.8em;
	text-align:justify;
	background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/gioco_parole_attualita_mvin.png) no-repeat left top;
	}	
	
	#container{
		height:550px;
		width:100%;
		overflow:hidden;
		}
	
		#attualita_ipad{
			height:550px;
			width:1000px;
			background:url(../img_museo_virtuale_inconsapevolezza_quotidiana/mani_ipad_attualita_mvin.png) no-repeat center top;
			margin:0 0 0 0;
			padding:50px 0 0 0;
			}	
			
			#attualita_contenuto_ipad{
				width:470px;
				height:350px;
				position:relative;
				left:50%;
				margin:0 0 0 -230px;
				overflow:auto;
				font-size:0.9em;
				line-height:1.4em;
				}
				
		#attualita_dito img{
			margin:100px 0 0 650px;
			}
			
		#attualita_ipad_nav span{
			cursor:pointer;
			display:inline-block;
			padding:5px;
			background-color:#eee;
			text-align:center;
			width:30px;	
			-moz-box-shadow: 0 0 10px #828282;
			-webkit-box-shadow: 0 0 10px #828282;
			box-shadow: 0 0 10px #828282;	
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			margin:0 5px 0 5px;
			}
			
			#attualita_ipad_nav span:hover{
				background-color:#fff;
				}

	
/* =========================================================================
  Configurazione SOCIETA - TERRITORIO
   ========================================================================== */
#visita_territorio{
	padding:30px 0 0 0;
	}

#visita_territorio .visita_titolo_sezione{
	font-size:3em;
	margin:30px 150px 0 150px;
	}

#visita_territorio .visita_titolo_piccolino{
	font-size:0.7em;
	margin:0 150px 0 150px;
	}
	   
#introduzione_territorio{
	margin:30px 150px 0 150px;
	letter-spacing:1px;
	font-size:0.9em;
	line-height:1.8em;
	text-align:justify;
	}
 /* =========================================================================
  Configurazione TERRITORIO - CIBO
   ========================================================================== */
#cibo{
   height:100%;}
   
   

/* =========================================================================
  Configurazione PRE VISITA
   ========================================================================== */
#pre_visita{
	padding:30px 0 0 0;
	}

#pre_visita > img{
	width:910px;
	height:450px;
	}

#pre_visita .visita_titolo_sezione{
	font-size:3em;
	margin:30px 150px 0 150px;
	}

#pre_visita .visita_titolo_piccolino{
	font-size:0.7em;
	margin:70px 150px 0 150px;
	}
	   
#pre_visita > p{
	margin:30px 150px 0 150px;
	letter-spacing:1px;
	font-size:0.9em;
	line-height:1.8em;
	text-align:justify;
	}







